.title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    max-width: 800px;
}

input{
    width: 200px;
}

form{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}